@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --primaryColor: #f0ab9e;
    --secondaryColor: #656d8b;
    --whiteColor: #ffffff;
    --backcolor: #000000;

    --primaryFont: "Open Sans", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: */
    --secondaryFont: "Playfair Display", serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */

}

body{
    background: var(--primaryColor);
    margin: 0 1rem;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-family: var(--secondaryFont);
    font-weight: 600;
}
/* navbar */
.links_nav{
    position: fixed;
    bottom: 30%;
    left: -80px;
    transition:  0.5s ease-in-out;
}
.links_nav.showing{
    left: 10px
}
.menubar .bx_two, .menubar .bx_one{
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;

}

.menubar .bx_one{
    display: none;
}


.links_nav li{
    padding: 2rem 0;
}

.links_nav li a{
    color: var(--backcolor);
}

.header_main {
    max-width: 90%;
    height: 100vh;
    display: grid;
    justify-self: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.name_position h1{
    font-family: var(--primaryFont);
    font-style: italic;
}
.typing_text{
    display: flex;
    font-size: 2rem;
    font-family: var(--secondaryFont);
}

.design_typing{
    width: 3px;
    height: 27px;
    margin-top: 10px;
    background-color: var(--secondaryColor);
    animation: hide_typing 1s infinite;
}

@keyframes hide_typing{
    0%   {opacity:  0;}
    25%  { opacity: 9;}
    50%  {opacity:  0;}
    75%  { opacity: 9;}
    100% { opacity: 0;}
}


.text_header, .img_header{
    margin: auto;
}
.header_main .text_header {
    margin: auto; 
}
.img_header img{
    width: 450px;
}
@media (max-width: 1361px) {
    .header_main {
        max-width: 90%;
    }
}
@media (max-width: 911px) {
    .header_main {
        max-width: 100%;
    }
}
@media (max-width: 829px) {
    .header_main {
  
        grid-template-columns: 1fr;
    }
    .name_position{
        position: absolute;
        bottom: 100px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    .typing_text{
        text-align: center;
        margin: auto;
        justify-content: center;
    }
    .img_header{
        margin-bottom: 10rem;
    }
}
@media (max-width: 565px) {
    .img_header{
        margin-bottom: 15rem;
    }
    .img_header img{
        width: 300px;
        margin: auto;
    }
    .name_position{
        bottom: 160px;

    }
}
@media (max-width: 425px) {
    .typing_text{
        font-size: 1.5rem;
    }
    .name_position h1{
        font-size: 1.5rem;
    }
}
/* about */
.about_me_container{
    width: 100%;
    max-height: 100vh;
    padding: 3rem 0 5rem 0;
    display: grid;    
    align-items: auto;

}

.about_me_row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10rem 2rem 10rem;
    justify-content: center;
    background-color: #fcb6a89c;
    padding-bottom: 3rem;
    backdrop-filter: blur(500px);
    min-height: auto;
}
.about_me_row .about_info, .about_me_row .about_my_hobby{
    margin: auto;
    background-color: var(--whiteColor);
    max-width: 390px;
    align-items: center;
    margin-top: 1.9rem;
    position: relative;
    overflow: hidden;
}

.about_info h1, .about_my_hobby h1{
    text-align: center;
    padding: 1rem 0;
    font-style: italic;
    text-transform: uppercase;
}
.about_my_hobby h6, .about_info h6{
    font-size: 1rem;
    font-style: italic;
    padding: 1.2rem 1.9rem;
    font-family: var(--primaryFont);
    font-weight: 200;
}
.about_info .line_about,
.about_my_hobby .line_about{
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    width: 90%;
    height: 2px;
    margin: auto;
    background-color: var(--backcolor);
}
@media (max-width: 1204px) {
    .about_me_row{
        margin: 0 2rem 2rem 2rem;
    }
}
@media (max-width: 908px) {
    .about_me_row{
        margin: 0;
    }
}
@media (max-width: 822px) {
    .about_me_row{
        grid-template-columns: 1fr;
    }
}
.hide_one, .hide_two{
    position: absolute;
    content: "";
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fcb6a8;
    transition: 0.9s ease-in-out;
}
.hide_one.show_back, .hide_two.show_back{
    right: 100%;
}
