@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --primaryColor: #f0ab9e;
    --secondaryColor: #656d8b;
    --whiteColor: #ffffff;
    --backcolor: #000000;

    --primaryFont: "Open Sans", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: */
    --secondaryFont: "Playfair Display", serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */

}

body{
    background: var(--primaryColor);
    margin: 0 1rem;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-family: var(--secondaryFont);
    font-weight: 600;
}
/* navbar */
.links_nav{
    position: fixed;
    bottom: 30%;
    left: -80px;
    transition:  0.5s ease-in-out;
}
.links_nav li::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 0%;
    height: 3px;
    background-color: var(--secondaryColor);
    display: block;
    transition: 0.5s ease-in-out;
    
}
.links_nav li:hover::after{
    width: 90%; 
}
.links_nav.showing{
    left: 10px
}
.menubar .bx_two, .menubar .bx_one{
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;

}

.menubar .bx_one{
    display: none;
}


.links_nav li{
    padding: 2rem 0;
}

.links_nav li a{
    color: var(--backcolor);
}

/* Hearder Style */
.header_main {
    max-width: 90%;
    height: 100vh;
    display: grid;
    justify-self: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.name_position h1{
    font-family: var(--primaryFont);
    font-style: italic;
}
.typing_text{
    display: flex;
    font-size: 2rem;
    font-family: var(--secondaryFont);
}

.design_typing{
    width: 3px;
    height: 27px;
    margin-top: 10px;
    background-color: var(--secondaryColor);
    animation: hide_typing 1s infinite;
}

@keyframes hide_typing{
    0%   {opacity:  0;}
    25%  { opacity: 9;}
    50%  {opacity:  0;}
    75%  { opacity: 9;}
    100% { opacity: 0;}
}


.text_header, .img_header{
    margin: auto;
}
.header_main .text_header {
    margin: auto; 
}
.img_header img{
    width: 450px;
}
@media (max-width: 1361px) {
    .header_main {
        max-width: 90%;
    }
}
@media (max-width: 911px) {
    .header_main {
        max-width: 100%;
    }
}
@media (max-width: 829px) {
    .header_main {
  
        grid-template-columns: 1fr;
    }
    .name_position{
        position: absolute;
        bottom: 100px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    .typing_text{
        text-align: center;
        margin: auto;
        justify-content: center;
    }
    .img_header{
        margin-bottom: 10rem;
    }
}
@media (max-width: 565px) {
    .img_header{
        margin-bottom: 15rem;
    }
    .img_header img{
        width: 300px;
        margin: auto;
    }
    .name_position{
        bottom: 160px;

    }
}
@media (max-width: 425px) {
    .typing_text{
        font-size: 1.5rem;
    }
    .name_position h1{
        font-size: 1.5rem;
    }
}
/* About Style */
.about_me_container{
    width: 100%;
    max-height: 100vh;
    padding: 3rem 0 5rem 0;
    display: grid;    
    align-items: auto;
    display: grid;
    width: 100%;
    height: 90vh;
    align-self: center;
}

.about_me_row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10rem 0rem 10rem;
    justify-content: center;
    /* background-color: #fcb6a89c; */
    padding-bottom: 3rem;
    backdrop-filter: blur(500px);
    min-height: auto;
}
.about_me_row .about_info, .about_me_row .about_my_hobby{
    margin: auto;
    background-color: var(--whiteColor);
    max-width: 390px;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 3px solid #fcb6a8;
}

.about_info h1, .about_my_hobby h1{
    text-align: center;
    padding: 1rem 0;
    font-style: italic;
    text-transform: uppercase;
}
.about_my_hobby h6, .about_info h6{
    font-size: 1rem;
    font-style: italic;
    padding: 1.2rem 1.9rem;
    font-family: var(--primaryFont);
    font-weight: 200;
}
.about_info .line_about,
.about_my_hobby .line_about{
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    width: 90%;
    height: 2px;
    margin: auto;
    background-color: var(--backcolor);
}
@media (max-width: 1204px) {
    .about_me_row{
        margin: 0 2rem 2rem 2rem;
    }
}
@media (max-width: 908px) {
    .about_me_row{
        margin: 0;
    }
}
@media (max-width: 822px) {
    .about_me_row{
        grid-template-columns: 1fr;
    }
}
.hide_one, .hide_two{
    position: absolute;
    content: "";
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fcb6a8;
    transition: 0.9s ease-in-out;
}
.hide_one.show_back, .hide_two.show_back{
    right: 100%;
}

/* Project Style */
.project_container{  
    display: grid;
    width: 100%;
    height: 90vh;
}

.project_content_row{
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto; 
    width: 90%;
    gap: 2rem;

}
.item_project{
    margin: auto;
    width: 100%;
}
.item_project .item_project_circle{
    width: 70%;
    height: 210px;
    margin: auto;
    background: #ffffff;
    border: 2px solid #a200ff8f;
    border-radius: 100%;
    display: grid;
    box-shadow: 5px 5px 5px 2px #0000008e;
    animation: item_project_circle_L 1s infinite
}
.title_project_links{
    align-self: center;
    margin: auto;
    text-align: center;
}
.title_project_links h1{
    font-style: italic;
    margin-bottom: .5rem;
    font-family: var(--primaryFont);
}
.title_project_links a{ 
    color: #000000;    
    font-family: var(--secondaryFont);
    font-style: italic;
}
@keyframes item_project_circle_L{
    0% { border: 2px solid #ffe6008f;}
    25% { border: 2px solid #00ff2a8f;}
    50% { border: 2px solid #003cff8f;}
    100% { border: 2px solid #ff00bf8f;}
}



/* Constact Style */
.contact_container{
    margin: 0 1rem;
}

.contact_content{
    display: grid;
    width: 100%;
    height: 90vh;
}
.contact_box{
    align-self: center;
    margin: auto;
    width: 35%;
    background-color: #ffffff;
    border-radius: 10px;
}
.name_contact_picture{
    display: flex;
    padding: 1.5rem 2rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.name_contact h2{
    font-family: var(--primaryFont);
    font-size: 1.3rem;
}
.name_contact h6{
    font-family: var(--secondaryFont);
    font-size: .9rem;
    font-style: italic;
}

.img_contact img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.contact_icon{
    margin: .3rem;
}
.contact_ul{
    text-align: center;
}
.contact_ul a{
    margin: 0 1.5rem;
}
.contact_ul a i{
    font-size: 2rem;
    color: var(--backcolor)
}
.contact_emial_phone{
    margin: .8rem 4rem;
    display: flex;
    justify-content: space-between;
}
.contact_emial_phone h3{
    font-size: .9rem;
    font-family: var(--primaryFont);
    font-style: italic;
    font-weight: 500;
}



















